.header {
    background: #fff;
    border-bottom: solid 1px #E0DFDE;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    font-weight: 400;
}

body {
    font-family: "Inika", serif;
    color: #8B7969;
}