.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 35px;
    text-align: center;
}

.contact-form__heading h2 {
    font-size: 30px;
}

.form {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__group input,
select,
textarea {
    background: #F4F4F4;
    border: none;
    height: 38px;
    padding: 10px;
}

.form__group input::placeholder {

    color: #8B7969;
}

.form__label--item {
    font-size: 20px;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    color: #FF9494;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__name {
    width: 618px;
    display: flex;
    justify-content: space-between;
}

.form__group-content--between {
    width: 618px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__name input {
    width: 287.15px;
    height: 38px;
    appearance: none;
}

.form__gender {
    width: 618px;
    display: flex;
    padding-left: 10px;
}

.form__gender input {
    width: 20px;
    height: 20px;
    border: 2px solid #8B7969;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
}

.form__gender input[type="radio"] {
    appearance: none;
    /* ブラウザ標準の枠を消す */
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px #8B7969;
    background-color: #fff;
    /* 未選択時 */
    cursor: pointer;
    vertical-align: middle;
    transition: background 0.2s;
    margin-right: 10px;
    position: relative;
    top: -1px;
}

.form__gender input[type="radio"]:checked {
    background-color: #8B7969;
    border: none;
}

.form__gender input[type="radio"]:checked+.custom-radio {
    background-color: #8B7969;
    /* 塗りつぶし */
    border-color: #8B7969;
}

.form__gender label {
    margin-left: 10px;
    margin-right: 70px;
    height: 20px;
}

.form__text input,
.form__textarea textarea {
    padding: 10px;
    width: 618px;
    height: 38px;
    border: none;
    appearance: none;
}

.form__text input {
    height: 40px;
}

.form__textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px 40px;
    border: none;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}

.form__select {
    width: 618px;
    display: flex;
    justify-content: left;
    position: relative;


}

.form__select select {
    width: initial;
    color: #BEB1A6;
    max-width: 618px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 36px 8px 12px;
    font-size: 16px;
}

.form__select::after {
    content: "";
    position: relative;
    right: 28px;
    top: 13px;
    transform: translateY(-50%) rotate(0deg);

    width: 20px;
    height: 20px;
    background: #BEB1A6;
    /* 塗りつぶし色 */

    /* 上半分を消して下半分だけ残す（ひし形の下側） */
    -webkit-clip-path: polygon(0 50%, 50% 100%, 100% 50%);
    clip-path: polygon(0 50%, 50% 100%, 100% 50%);
    pointer-events: none;
}

.form__group textarea::placeholder {
    color: #8B7969;
}